body{
	font-family: '微软雅黑';
}

.site-bg{
	opacity:0.3;
}

.logo-top-margin{
	margin-top: 0;
}
.box-content .widget-title{
	font-family: '微软雅黑';
}
.box-content{
	/*margin-top: 0;*/
	font-family: '微软雅黑';
}

.profile-name{
	font-family: '微软雅黑';
}

/* .content{
	min-width:900px; 
	display: block;
	position: absolute;
	top:0;
	opacity: 0;
	transition:opacity 1.5s ease;
}
.site-footer{
	margin-top: 120px;
} */